{% extends 'main/base.html' %}

{% block title%}
Contacts list
{% endblock %}

{% block content %}
    {% if user.is_authenticated %}
        <main class="px-3">
            <h1>My contacts</h1>
        </main>
        <br>
        <table class="table table-hover">
            {% if object_list %}
                <thead>
                    <tr>
                        <th scope="col">First name</th>
                        <th scope="col">Last name</th>
                        <th scope="col">Phone</th>
                        <th scope="col"></th>
                        <th scope="col"></th>
                        <th scope="col"></th>
                        <th scope="col"></th>
                    </tr>
                </thead>
                {% for object in object_list %}
                    <tbody>
                        <tr>
                            <td>{{ object.first_name }}</td>
                            <td>{{ object.last_name }}</td>
                            <td>{{ object.phone }}</td>
                            <td><a href="{% url 'contact_details' object.id %}" class="nav-link p-0 text-muted">More information</a></td>
                            <td><a href="{% url 'update_contact' object.id %}" class="nav-link p-0 text-muted">Edit</a></td>
                            <td><a href="{% url 'delete_contact' object.id %}" class="nav-link p-0 text-muted">Delete</a></td>
                            {% if object.photo %}
                                <td><img src="{{ object.photo.url }}" class="bd-placeholder-img rounded-circle" width="100" height="100"  align="right"></td>
                            {% else %}
                                <td></td>
                            {% endif %}
                        </tr>
                    </tbody>
                {% endfor %}
            {% else %}
                <p>Contact list is empty</p>
            {% endif %}
        </table>
    {% else %}
        <br><br><br>
        <div class="jumbotron">
          <h1 class="display-3 nav justify-content-center">Sorry!</h1>
            <br>
          <p class="lead nav justify-content-center">You Must Be Logged In To View This Page...</p>
        </div>
    {% endif %}
{% endblock %}
